{% extends "generator/base.html" %}
{% block title %}
domains
{% endblock %}
{% block menu %}
    <li><a href="{% url 'generator' %}">Generator</a></li>
    <li class="active"><a href="{% url 'domain_list' %}">Domains</a></li>
{% endblock %}
{% block content %}
<table class="table table-condensed table-striped">
    <tr>
        <th>Domain</th>
        <th>Type</th>
    </tr>
    {% for domain in domains %}
    <tr>
        <td>
            <a href="{% url 'domain' domain=domain.domain %}">
                {{ domain.domain }}
            </a>
        </td>
        <td>{{ domain.type }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
